<!doctype html>
<html lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <link rel="stylesheet" href="homepage.css">

        <title>Daily Refresh Monitoring Alert</title>
    
    <body>
    <div class="center">
    <h2>Daily Refresh Monitoring Alert</h2>
    </div>
    <div class="center">
    <table >
        <tr>
            <th>Environment Name</th>
            <th>TeamCity Jobs</th>
            <th>Status</th>
            <th>Finish_Date</th>
        </tr>
        <tr>
            <th>Prod_Build</th>
            <th>DB REFRESH</th>
            <td>{{ res }}Status form py</td>
            <td>Finish-date from py</td>
        </tr>
        <tr>
            <th>SE39</th>
            <th>DB REFRESH</th>
            <td>Status form py</td>
            <td>Finish-date from py</td>
        </tr>
        <tr>
            <th rowspan="6">SE08</th>
            <th>Stop Services</th>
            
            <td>Status from py-stop</td>
            <td>Finish-date from py</td>
        </tr>
        <tr>
            <th>DB REFRESH</th>
            <td>Status DB from py</td>
            <td>Finish-date from py</td>
        </tr>
        <tr>
            <th>DB REFRESH_TPS</th>
            <td>Status TPS from py</td>
            <td>Finish-date from py</td>
       </tr>
       <tr>
            <th>Start Services</th>
            <td>Status start from py</td>
            <td>Finish-date from py</td>
       </tr>
       <tr>
            <th>Deploy TVE Services</th>
            <td>Status TVE from py</td>
            <td>Finish-date from py</td>
      </tr>
            <th>Start MDES</th>
            <td>Status MDES from py</td>
            <td>Finish-date from py</td>
      <tr>
      <tr>
            <th rowspan="6">SE20</th>
            <th>Stop Services</th>
            <td>Status from py-stop</td>
            <td>Finish-date from py</td>
        </tr>
        <tr>
            <th>DB REFRESH</th>
            <td>Status DB from py</td>
            <td>Finish-date from py</td>
        </tr>
        <tr>
            <th>DB REFRESH_TPS</th>
            <td>Status TPS from py</td>
            <td>Finish-date from py</td>
       </tr>
       <tr>
            <th>Start Services</th>
            <td>Status start from py</td>
            <td>Finish-date from py</td>
       </tr>
       <tr>
            <th>Deploy TVE Services</th>
            <td>Status TVE from py</td>
            <td>Finish-date from py</td>
      </tr>
            <th>Start MDES</th>
            <td>Status MDES from py</td>
            <td>Finish-date from py</td>
      <tr>
        </tr>
    </table>
    </div>
    </body>
</html>
