<!doctype html>
<html lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <link rel="stylesheet" href="homepage.css">

        <title>Daily Refresh Monitoring Alert</title>
    
    <body>
    <div class="center">
    <h2>Daily Refresh Monitoring Alert</h2>
    </div>
    <div class="center">
    <table >
        <tr>
            <th>Environment Name</th>
            <th>TeamCity Jobs</th>
            <th>Status</th>
            <th>Finish_Date</th>
        </tr>
        <tr>
            {% if res['status'] == "sucess" %}    // this tags are used in jinja templates in flask
            <th>Prod_Build</th>
            <th>DB REFRESH</th>
            <td>{{ res['status'] }}</td>    // use {{ }} to print values
            <td>Finish-date</td>
        </tr>
    </table>
    </div>
    </body>
</html>
